$blue           : #2B3856;
$white			: #FFFFFF;
$aqua			: #A3FFEF;
$gray			: #2F4F4F;
$cream			: #FFF5EE;
$mocha			: #493D26;
$nav-select		: rgba(43, 56, 86, 0.5);

$font-title: Sacramento, cursive;
$font-primary: Delius, cursive;
$font-secondary: Delius, cursive;

$page-height	: 830px;
$page-width		: 100%;
$nav-height		: 70px;
$block-width	: 400px;
$block-height	: 500px;
$carousel-height : 590px;
$carousel-fontsize : 18px;
$carousel-description-width: 500px;
$square-width	: 300px;
$square-height	: 150px;
$modal-width	: 800px;
$modal-height	: 500px;
$footer-height	: 250px;